<h1>About us</h1>

<span style="font-size: 20px">"Asymmetrical organic tofu semiotics keytar 3 wolf moon. Thundercats spanhoto booth banjo occupy five dollar toast. Tumblr flexitarian diy migas ugh godard organic vice."</span>

 
<div style="font-size: 30px">We have <%= @topics.all.count %>   users</div>
<br \>
<div style="font-size: 30px">and <%= @comments.all.count%>   comments</div>
 
<div> and  <%= @user.short_name %> have <%=@user.comments.count   %>  comments</div>
