<h1><span style="font-size: 50px"><%= @topic.title%></span></h1>

<span style="font-size: 35px">content</span>
<table class="table">
	<td><span style="font-size: 20px"><%= @topic.content %></span></td>

		
</table>

<%= link_to "Back to Index" , topics_path , :class => "btn btn-primary"%>