<h1><%= @topic.title%></h1>

<span style="font-size: 25px">content</span>
<table class="table">
	<td><%= @topic.content %></td>

		
</table>

<%= link_to "Back to Index" , topics_path , :class => "btn btn-primary"%>